# Begin password protection #
AuthName "JulietJohn"
Require valid-user
AuthUserFile "/home/users/web/b1588/ipg.shotbywaynecouk/homedir/public_html/clients/JulietJohn/.htpasswd"
AuthType basic
# End password protection #

